body {
	font-size: 18px;
	line-height: 1.88rem;
	width: 696px;
}
header {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}
section {
	font-family: Georgia, serif;
}
a {
	color: #2455C3;
	font-weight: 700;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h2 {
	color: #BA3925;
	font: 700 1.5rem Helvetica, Arial, sans-serif;
}
figcaption {
	font: italic .85rem/1.4rem Georgia, sans-serif;
	text-align: center;
}
blockquote {
	border-left: 1px dotted #ccc;
	font-style: italic;
	margin-left: 0;
	padding-left: 1rem;
}